* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'myriadPRO';
    src: url(/mod03/desafios/d013/font/myriad-pro-regular.OTF);
}

:root {
    --fontApple: 'myriadPRO';
}

body {
    font-family: var(--fontApple);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
    height: 100px;
    margin: auto;
}

td {
    border: 1px solid black;
    text-align: center;
}

h1,
h2 {
    text-align: center;
}