@font-face {
    font-family: '8th-cargo';
    src: url(/mod03/desafios/d012/fonts/8th_cargo/8th\ Cargo.ttf);
}

@font-face {
    font-family: 'retro_signature';
    src: url(/mod03/desafios/d012/fonts/retro_signature/RetroSignature.otf);
}

:root {
    --fontTecho: '8th-cargo';
    --fontManuscrita: 'retro_signature';
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-image: url(/mod03/desafios/d012/img/bg-dark1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: var(--fontTecho);
    font-size: 3vw;
}

header>h1 {
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
}

header>p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.1em;
    padding-left: 30px;
    font-family: var(--fontManuscrita);
    font-size: 9vw;
}

section.normal {
    background-color: white;
    color: black;
    text-align: center;
}

section.imagem {
    background-color: rgb(36, 29, 29);
    color: darkgray
}

section.imagem>p {

    background-color: black;
    border-radius: 15px;
    padding: 20px;
}


/*rodape*/
footer {
    background-color: rgb(20, 20, 53);
    background-image: url(/mod03/desafios/d012/img/bg-dark1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--fontTecho);

}