@font-face {
    font-family: 'cloister';
    src: url(/mod03/exercicios/ex22/fonts/cloister_black/CloisterBlack.ttf);
}

:root {
    --fontCloisterBlack: 'cloister';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(/mod03/exercicios/ex22/img/bg-darkWall1.jpg);

}

#retangulo1 {
    border: 1px solid white;
    height: 200px;
    width: 800px;
    background-image: url(/mod03/exercicios/ex22/img/pattern002.png);
    background-repeat: no-repeat;
    background-position: center center;

    /*background-position: left top;*/
    /*background-position: top center;*/
    /*background-position: right top;*/
    /*background-position: right center;*/
    /*background-position: right bottom;*/
    /*background-position: bottom center;*/
    /*background-position: left bottom;*/
    /*background-position: left center;*/
    /*background-position: left top;*/
}