@font-face {
    font-family: 'cloister_black';
    src: url(/mod03/exercicios/ex22/fonts/cloister_black/CloisterBlack.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-medieval1: 'cloister_black'
}

body {
    background-image: url(/mod03/exercicios/ex22/img/dark-background1-1024x768-8324.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: auto;
    height: 40px;
    background-color: rgb(95, 77, 77);
    margin-bottom: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.display {
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 100px;
}

nav {
    display: inline-block;
    color: white;
}

nav>p {
    font-family: var(--font-medieval1);
    display: inline-block;
    margin-left: 30px;
    font-size: 23px;
}

div.quadrado {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
    background-color: bisque;
}

/*background-color*/
div#q1 {
    background-color: rgb(18, 155, 98);
}

/*linear-gradient*/
div#q2 {
    background-image: linear-gradient(to bottom, white, black);
}

/*background-image: url*/
div#q3 {
    background-image: url(/mod03/exercicios/ex22/img/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.quadrado:hover {
    opacity: 0.7;
    background-color: white;
}

div.quadrado:active {
    background-color: rgb(141, 89, 89);
}