@charset "UTF-8";

/*estilos para dispositivos no modo retrato (portrait)*/
* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 17px;
    text-align: center;
}

main {
    background-color: rgb(102, 27, 27);
    padding: 17px;
    text-align: justify;
    color: black;
}