* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'myriadPRO';
    src: url(/mod03/exercicios/ex23/fonts/myriad-pro-regular.OTF);
}

@font-face {
    font-family: 'insanibuck';
    src: url(/mod03/exercicios/ex23/fonts/insaniburger/Insanibc.ttf);
}

:root {
    --fontAplle: 'myriadPRO';
    --fontInsanibuck: 'insanibuck';
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    background-image: url(/mod03/exercicios/ex23/img/bg-InterfaceLIFT1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 92vh;
}

table {
    /*border: 0px solid white;*/
    background-color: #322840;
    border-collapse: collapse;
    margin: auto;
    color: white;
    font-size: 0.9em;
    text-align: center;
}

th {
    /*border: 0px solid white;*/
    padding: 7px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin: 10px;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-shadow: 2px 2px 3px black;
}

.title_table {
    background-color: #0d0b11;
    text-transform: uppercase;
}

.title_table:hover {
    font-weight: bolder;
    border-left: 1px solid white;
    background-color: white;
    color: #0d0b11;
    opacity: 0.5;
}

.woman {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.woman:hover {
    background-color: #bb6569;
    font-weight: bolder;
    border-left: 1px solid white;
    transition: 1s;
}

.women {
    padding: 20px;
}

.women:hover {
    background-color: #bb6569;
    font-weight: bolder;
    border-left: 1px solid white;
    transition: 1s;
}

.man {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.man:hover {
    background-color: #27357e;
    font-weight: bolder;
    border-left: 1px solid white;
    transition: 1s;
}

.men {
    padding: 20px;
}


.men:hover {
    background-color: #27357e;
    font-weight: bolder;
    border-left: 1px solid white;
    transition: 1s;
}

footer {
    height: 8vh;
    background-color: #0d0b1160;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
}