@font-face {
    font-family: 'myriadPRO';
    src: url(/mod03/exercicios/ex23/fonts/myriad-pro-regular.OTF);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fontAPPLE: 'myriadPRO';
}

body {
    font-family: var(--fontAPPLE);
    background-image: url(/mod03/exercicios/ex23/img/bg-brazil_colors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    /*responsive*/
}

header {
    text-align: center;
    background-color: #F39401;
    height: 15vh;

}

h2 {
    color: green;
    text-transform: capitalize;
    text-align: center;
}

main {
    background-image: url(/mod03/exercicios/ex23/img/bg-brazil_colors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
    margin-bottom: 30px;
}

caption {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    font-size: 2em;

}

table {
    background-color: #03bf2649;
    margin: auto;
    width: auto;
}

th {
    /*background-color: #060045;*/
    background-color: #1c4500;
    padding: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

td {
    text-align: center;
}

footer {
    background-color: #060045;
    height: 20vh;
    border-top: 20px;
}

.created {
    color: white;
    text-align: center;
    padding-top: 10px;
}

.foto {
    color: white;
    text-align: center;

}

.fonte {
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #03BF27;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.num {
    text-align: right;
}

td {
    padding: 5px;
}

#total {
    background-color: #1c4500;
    color: white;

}

.midias {
    text-align: center;
    color: white;
}