@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


/*ALL medias (tablet, printer, desktop/notebook and TV)




* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}