@charset "UTF-8";

/*versao: mobile first*/

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Tilt Neon', cursive;

}

main {
    padding: 17px
}